.catalogo {
    border-radius: 10px;
    box-shadow: 7px 7px 3px lightgray;
    width: 70%;
    margin: auto;
    min-width: 375px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.productos {
    display: flex;
}

@media (max-width: 685px) {
    .productos {
        flex-direction: column;
    }
}